.center{

    height: 800px;
margin-top: 10px;
width: 100%;
display: flex;
flex-wrap: wrap;
background: url("../img/adobestock_69013197_arzt_kurhan_.jpg");
background-size: 100%;
}

.p1 {
   margin-left: 400px;
   font-size: 30px;
   font-weight:600;
   font-family:'Times New Roman', Times, serif;
   text-shadow: rgb(255, 255, 255) 4px 4px 4px,rgb(255, 255, 255) 4px 4px 4px,
   rgb(255, 255, 255) 4px 4px 4px,rgb(255, 255, 255) 4px 4px 4px;
}


.p2{
    margin-left: 550px;
    font-size: 25px;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    
 }
 .p4{
    margin-left: 530px;
    font-size: 30px;
    font-weight:1000;
    margin-top: -40px;
 }
 .p3{
   
    font-size: 25px;
   text-align: center;
    font-weight:400;
    font-family:'Times New Roman', Times, serif;
    text-shadow: rgb(255, 255, 255) 4px 4px 4px,rgb(255, 255, 255) 4px 4px 4px,
    rgb(255, 255, 255) 4px 4px 4px,rgb(255, 255, 255) 4px 4px 4px;
 }
 .direction
{
 background-color: rgb(189, 49, 49,0.6);
 width: calc(100% / 2);
    height: 150px;
    width: 500px;
    border-radius: 10px;
   margin: 60px 150px 40px 60px;
   float: center;
}
.direction p{
    font-size: 20px;
    font-weight:500;
    margin-left: 10px;
    font-family:'Times New Roman', Times, serif;
    
}
.medicine{
     font-size: 20px;
     margin-left: 20px;
    font-weight:600;
    font-family:'Times New Roman', Times, serif;
}



